body {          /* Sets default formatting for the body */
font-family: 'Times New Roman', Times, serif;
color: black;    
font-size: 16px;

}

header {
  background-color:  rgb(0, 160, 255);  /* Other than the logo this provides blue formatting */
}

footer {
  background-color:  rgb(0, 160, 255);
  color: white;   /* Text color white on a blue background */
  width: auto;
  padding: 50px;  /* Makes the bar wider*/
  margin-top: 50px; 
  text-align: center;
}


.nav {
    height: 25px;
    background-color: rgb(0, 160, 255); 
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly; /* Spaces the clickable links over the page header*/
    display: flex;
    align-items: center;   
}

nav a:hover {
    color: white; 
    text-decoration: none;
    border-bottom-width: 3px; /* Sets the width of the underline*/
    border-bottom-style: solid;
    border-bottom-color: blue; /* Underlines each link one at a time in dark blue when hovered over*/
       
}



    /* Style for the slideshow container */
    .slideshow-container { 
        max-width: 300px;        /* Creates the space where the cards are due to be displayed*/
        position: relative;
        margin: auto;
        
      }
  
      /* Style for the images */
      .mySlides {
        display: none;
        text-align: center;
        object-position: center;   /* Keeps the photos in the middle and presented inline which each other*/
        overflow: hidden;  /* Helps with the formatting as not all cards are the same size */
      }
  
      
  
      /* Style for the navigation dots */
      .dot {
        height: 15px;
        width: 15px;
        margin: 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease; /* Helps with the JavaScript when moving on*/
            }
  
      .active {
        background-color: black;  /* Makes the dot back when "active"*/
      }

      /* Style for the week text and day */
      .week_text, .day {  /*Two items one styling */
        font-size: 20px;
        margin-top: 20px;
      }

      .table52, th, td {  /*Three items one styling*/
    border: 1px solid;
    width: 15%;
    text-align: center;
        
  }

th {
    background-color: rgb(0, 160, 255);
    color: white;
}

#table52 {
    margin-top: 50px;  /* Formatting the table */
    margin-left: auto;
    margin-right: auto;
}

li {
    text-align: center;
    color: rgb(0, 160, 255)
}

.description {  /* Covers all pages at a sub heading which is linked with JavaScript*/
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: black;
  font-size: 20px;
}

.ScratchPhoto {  /* Helps with fitting all photos in the right place and size - Without this is does not center*/
  width:  350px;
  height: 350px;
  object-position: center;
  object-fit: scale-down;
}

